img {
  width: 200px;
}

button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

#btn-play {
  background-color: #EE3696;
  color: white;
  margin-right: 6px;
}

#btn-group {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

#cat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/bg.jpg");
  position: relative;
}

#nyan {
  position: relative;
  z-index: 2;
}

#rainbow {
  width: 0;
  height: 120px;
  object-fit: cover;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

